<% include ../partials/header %>


<div class="ui container">
    <h1 class="newPost">Edit Comment</h1>
    <hr class="blackHr">
    
    <div class="jumbotron postJumbo">
        <form action="/forum/<%= post_id %>/comments/<%=comment._id%>?_method=PUT" method="POST">
            <div class="markdown postInput"><strong>Markdown text <i class="fas fa-level-down-alt"></i></strong></div>
            <div>
                <textarea name = "comment[text]" rows="15" cols:"50" style="width:100%" class="postTextArea" required><%= comment.text %></textarea>
            </div>
            <div class="ui buttons saveAdjust">
                <button class="ui positive button" type="submit">Submit</button>
                <div class="or"></div>
                <button class="ui button" type="reset"><a href="/forum/<%= post_id %>">Cancel</a></button>
                
            </div>
                <!--<input type="text" name="text" placeholder="text">-->
        </form>
    </div>
</div>

<% include ../partials/footer %>