<% include ./partials/header %>

<div class="container">
	<div class="row">
		<div class="col-lg-12">
				<h1 class="header">About Me</h1>	
				<hr class="blackHr">
		</div>
	</div>
  <div class="row" id="bigScreen">
    <div class="col-md-2">
      <div id="links">
        <a href="https://rb.gy/7qp5bj" class="linkAnchor"><span id="linkedin"><i class="fab fa-linkedin"></i></span> LinkedIn</a>
        <br>
        <a href="http://github.com/shantanusharma11" class="linkAnchor"><span id="github"><i class="fab fa-github"></i></span> GitHub</a>
      </div>
      <!-- <img src="images/dog.jpg" id="myPhoto"> -->
      </div>
    <div class="col-md-10">
      <p class ="aboutmeText">Welcome!</p>
      <p id="aboutmeContent">My name is Shantanu Sharma, I am 20 years old and currently studying Computer Science and Engineering at guru govind singh indraprastha university new delhi. I will be completing my studies in year (2024). 
      <br>
      <br>
      
      I have been coding for one and a half years now and have found my passion in IT for full stack web development , with extra interests in cyber security. 
      <br>
      <br>
      </p>
    </div>
  </div>
  <hr class="blackHr">
  <h1 class="header" id="prevP">Previous Projects</h1>
  <div class="row">
    <div class="col-lg-12">
        <div class="test">
          <img src="images/scorekeeper.png" class="image">
          <div class="overlay">
            <div class="text">
            Score Keeper
            <hr class="projectHr">
            <p>This is a Score keeper that I created. It demonstrates my ability to use DOM manipulation through event listeners.</p>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>

<% include ./partials/footer %>
