<% include ./partials/header %>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div id="content">
        <h1>Shantanu Sharma</h1> 
        <h3>Personal Project Website</h3> 
        <hr id="homeHr">
      </div>
    </div>
  </div>
</div>

<div id="logos">
  <a href="https://rb.gy/7qp5bj" class="logoAnchor"><i class="fab fa-linkedin"></i></a>
  <a href="http://github.com/shantanusharma11" class="logoAnchor"><i class="fab fa-github"></i></a>
</div>

<% include ./partials/footer %>
